<h1>New Recipe</h1>

<%= form_for @recipe, :url => {:action => 'create'} do |f| %>
  <label>Title</label><br>
  <%= f.text_field :name %><br>

  <label>Description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>